<h1 style="margin-bottom: 1.5em">Frequently Asked Questions and Guide to Get Started</h1>

<div id="faq_container">
<ol>
  <li>
    <p>Q: Do I need to have a working knowledge of Git?</p>
    <p>A: Yes, if you do not have any experience with using Git checkout this quick starter guide -> <%= link_to "Git Basics", "http://progit.org/book/ch1-3.html" %> </p>
  </li>
  <li>
    <p>Q: Why do I not receive points from completing my own tasks?</p>
    <p>A: You can only receive points from completing tasks from other user's projects.</p>
  </li>
  <li>
    <p>Q: What are the different ranking levels?</p>
    <p>A: Currently there are 4 different levels.</p>
    <p>
      <ul>
        <li> 0-49 points : Trainee </li>
        <li> 50-99 points : Apprentice </li>
        <li> 100-499 : Master </li>
        <li> 500 + : Grand Master </li>
      </ul>
    </p>
  </li>
  <li>
    <p>Q: Why does denying a pull request not work? </p>
    <p>A: The Github API does not currently support a deny function. You have to manually deny the request on Github, then click the deny link in our application to complete the process. If a deny Github call is made, we will add that feature in. </p>
  </li>
</ol>
</div>