<h1>A Guide to get started with OSSC</h1>

<div>
  <ul>
    <li>You must have a working knowledge of Git</li>
    <li>Sync your Github account with your OSSC account</li>
    <li>Create Projects</li>
    <li>Assign points to tasks</li>
    <li>Other users work on tasks to achieve points</li>
    <li>Make pull requests to Github to be merged into the project to receive points</li>
  </ul>
</div>