list of pull requests by project

<div>
  <% @repo_pulls.each_pair do | k,v | %>
    <div>
    <h2><%= k.to_s %></h2>
      <table>
      <thead>
        <tr>
          <th> Title </th>
          <th> Body </th>
          <th> URL </th>
          <th> Actions </th>
        </tr> 
      </thead>
      <tbody>
        <tr>
          <td><%= v.first.title %></td>
          <td><%= v.first.body %></td>
          <td><%= v.first.html_url %></td>
          <td>Merge/Deny</td>
        </tr>
      </tbody>
      </table>
    </div> 
  <% end %> 
</div>