<table class="table">
<thead>
  <tr>
    <th> Title </th>
    <th> Description </th>
    <th> Point Value </th>
    <th> Work on this task </th>
  </tr> 
</thead>
<tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.point_value %></td>
    <td><%= button_to 'Add', { :action => 'create', :controller => 'todo', :task_id => task.id } %></td>
  </tr>
<% end %>
</tbody>
</table>  
