<div class="clear"></div>

<h1>Welcome to OSSC Homepage</h1>

<div id="home_content">
  <h2>Project: Open Source and Social Coding</h2>
  <h2>Created by: Charles Wang</h2>
  <h2>Cal State Fullerton - Graduate Project</h2>
  <h2>Fall 2011</h2>
</div>

<div>
  <%= image_tag "xcp-github-logo.png", :size => "600x400" %>
</div>