<h1>Listing projects</h1>

<table class="table">
<thead>
  <tr>
    <th>Project Name</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', project %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
