/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

span {
  margin-left: 10px;
  font-weight: bold;
  font: 16px "Helvetica", Verdana, sans-serif;
}

#main_container {
  width: 1000px;
  height: 800px;
  overflow: auto;
  margin: auto;
}

.clear {
  clear: both;
}
.login_information {
  float: right;
  margin-bottom: 20px;
  background: #EEE;
}

.body_content {
  text-align: center;
}

.form {
  text-align: left;
}

#home_content {
  padding: 20px;
  font-size: 12px;
}

.main_nav {
  margin-bottom: 10px;
}

.main_nav a {
  padding: 5px;
  font-size: 1.2em;
}

/* Generic Table styles */

.table_container {

}

.table_container h2 {
  text-decoration: underline;
}

.table_wrapper {
  width: 800px;
  margin: 0 auto;
}
table {
  border: 1px solid;
}

table th {
  padding: 5px 10px;
}