/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

span {
  margin-left: 10px;
  font-weight: bold;
  font: 16px "Helvetica", Verdana, sans-serif;
}

/* error related styles */
#error_explanation, .field_with_errors {
  margin-left: auto;
  margin-right: auto;
}
.alert {
  color: red;
}

.notice {
  color: green;
}
#main_container {
  width: 1000px;
  height: 800px;
  overflow: auto;
  margin: auto;
}

#header_wrapper {
  display: block;
}

.clear {
  clear: both;
}

.user_stats {
  float: left;  
}

.login_information {
  float: right;
  margin-bottom: 20px;
  background: #EEE;
}

.body_content {
  text-align: center;
}

.body_content a {
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
}

.form {
  text-align: left;
}

#home_content {
  padding: 20px;
  font-size: 12px;
}

#header {
  height: 40px;
  background-color: #EEE;
}

.main_nav {
  margin-bottom: 10px;
}

.main_nav a {
  padding: 5px;
  font-size: 1.2em;
  float: left;
}

.preferences {
  float: right;
  padding: 7px;
  font-weight: bold;
  font-size: 1.2em;
}

#faq_container {
  text-align: left;
}

#faq_container ol > li {
  margin-bottom: 2em;
}

.empty {
  border: 2px dotted black;
  padding: 20px;
  color: red;
}

/* Generic Table styles */

.table_container {
  margin-bottom: 40px;
}

.table_container h2 {
  text-decoration: underline;
}

.table_wrapper {
  width: 100%;
  margin: 0 auto;
}
table {
  border: 1px solid;
  width: 100%;
}

table th {
  padding: 5px 10px;
}