/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

span {
  margin-left: 10px;
  font-weight: bold;
  font: 16px "Helvetica", Verdana, sans-serif;
}

#main_container {
  width: 1000px;
  height: 800px;
  overflow: auto;
  margin: auto;
}

.clear {
  clear: both;
}
.login_information {
  float: right;
  margin-bottom: 20px;
  background: #EEE;
}

.body_content {
  text-align: center;
}

#home_content {
  padding: 20px;
  font-size: 12px;
}